* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gotham';
  /* font-size: 50%; */
  color: white;
}
/* h1, p {
  font-family: 'Gotham';
  font-weight: 100;
  color: white;
} */
.container {
  /* display: inline-block; */
  overflow-y: scroll;
  overflow: hidden;
  width: 500%;
  position: relative;
  /* height: auto; */
  height: 100vh;
  /* height: 100%; */
  background: linear-gradient(90deg, rgba(91,81,255,1) 0%, rgba(255,255,255,1) 100%);
}
.title {
  /* position: relative; */
  margin-left: 3.9%;
  margin-top: 0.5%;
  width: 23%;
}
.subtitle {
  position: absolute;
  left: 4%;
  top: 50%;
}
#txt1 {
  position: absolute;
  bottom: 10%;
  left: 25%;
}
.bigcloud {
  position: absolute;
  width: 6%;
  bottom: 0;
}
.smallcloud {
  position: absolute;
  width: 4%;
}
.station {
  position: absolute;
  left: 35%;
  bottom: 0;
  width: 5%;
}
.train {
  position: fixed;
  width: 10%;
  top: 70%;
  left: 25%;
  transform: translateX(-50%) translateY(-50%);
}
